sentence-transformers==2.2.2
langchain
flask==2.2.2
ollama(tinnyllma)
flask
pypdf
pinecone
protobuf
google
grpcio
grpcio-tools
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_experimental
-e .
